    <!-- Bottom Nav -->
        <nav class="navbar fixed-bottom bg-dark">
          <div class="container-fluid">
            <span class="navbar-text" style="color:antiquewhite"> &copy; Copyright 2022. All rights reserved. </span>
          </div>
        </nav>
