

<!-- main banner -->
<section class="bgimage" id="home">
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <br> <br> <br>
            <a href="/home"><img src="assets/images/logo3.png" alt="logo" id="logo"></a>
            <h2 class="hero_title">Welcome to Survey Donkey!</h2>
            <p class="hero_desc"></p>
        </div>
        </div>
        <button type="button" class="btn btn-outline-dark" id="abt-btn"><a href="/survey-list" id="abt-link">Create New Survey &rarr;</a></button>
    </div>
</section>